.app-header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 5rem;

    &-name{
        cursor: pointer;
    }

    @media screen and (min-width: 600px) {
        flex-direction: row;
        padding-bottom: 0;
    }
}

